[Unit]
Description=Gunicorn instance to serve portfolio
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/portfolio
ExecStart=/usr/local/bin/gunicorn --bind :5000 wsgi:app

[Install]
WantedBy=multi-user.target
