[Unit]
Description=Gunicorn instance to serve portfolio
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/portfolio
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:portfolio.sock -m 007 wsgi:app
#ExecStart=/usr/local/bin/gunicorn --workers 3 wsgi:app

[Install]
WantedBy=multi-user.target
