<html>
	<head>
		<meta charset="UTF-8">		
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
		<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/night-owl.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <!-- Loading mathjax macro -->
        <!-- Load mathjax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
        <!-- MathJax configuration -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true,
                processEnvironments: true
            },
            // Center justify equations in code and markdown cells. Elsewhere
            // we use CSS to left justify single line equations in code cells.
            displayAlign: 'center',
            "HTML-CSS": {
                styles: {'.MathJax_Display': {"margin": 0}},
                linebreaks: { automatic: true }
            }
        });
        </script>
		<!-- End of mathjax configuration -->	
		<style>
			table { 
				border-collapse: collapse;
				margin: 25px 0;
				font-size: 0.9em;
				font-family: sans-serif;
				min-width: 400px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
			}
			thead tr {
				background-color: #009879;
				color: #ffffff;
				text-align: left;
			}
			td {
				padding: 12px 15px;
			}
			tbody tr {
				border-bottom: 1px solid #dddddd;
			}
		</style>
		<title>Sergi DS Portfolio</title>
	</head>
	<body>
		<div class='bs-component'>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="/">DS Portfolio</a>
				<div class="" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/curriculum">Curriculum Vitae</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://www.fisoft.es">Personal Page</a>
					</li>
					</ul>
				</div>
			</nav>
		</div>
        <br>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div> <!-- container -->
	</body>
</html>